{"filter":false,"title":".gitignore","tooltip":"/.c9/.gitignore","undoManager":{"mark":-1,"position":-1,"stack":[]},"ace":{"folds":[],"scrolltop":300,"scrollleft":0,"selection":{"start":{"row":0,"column":0},"end":{"row":0,"column":0},"isBackwards":false},"options":{"guessTabSize":true,"useWrapMode":false,"wrapToView":true},"firstLineState":{"row":19,"state":"start","mode":"ace/mode/ini"}},"timestamp":1617546359056,"hash":"ca4358f366636e7dbc5ad08ea7225a1aec55a43b"}